<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" href="assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="assets/css/pregame.css" type="text/css">
</head>
<body>
    <div id="app">
        <section v-if="mainScreenActive">
            <ul>
                <li class="colored" v-on:click="startGame">start game</li>
                <li class="colored" v-on:click="mainScreenActive=false">change keybinds</li>
            </ul>

        </section>
        <section v-else>
            <h1>{{message}}</h1>
            <div class="flex-row" v-for="(value, key) in keybindObject">
                <label class="square colored" v-bind:for="key" v-on:click="listenForKeybind(key)">{{key}}</label>
                <div class="square colored" v-bind:id="key" v-on:click="listenForKeybind(key)">{{value.name}}</div>
            </div>
            <div class="centerText">
                <button class="colored" v-on:click="mainScreenActive=true">Back</button>
            </div>
        </section>
    </div>
    <div id="twitch" draggable="true"></div>
    <div></div>
<script src="assets/js/localforage.min.js" rel="script" type="application/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" rel="script" type="application/javascript"></script>
<script src="assets/js/sharedJavascript.js" rel="script" type="application/javascript"></script>
<script src="assets/js/pregame.js" rel="script" type="application/javascript"></script>
</body>
</html>