:root {
    --blockHeight: 7vh;
    --blockWidth: 20vw;
    --primaryBackground: #111111;
    --secondaryBackground: #444444;
    --borderColor: #666666;
    --hoverColor: #888888;
    --errorColor: #550000;
}

body{
    background-color: var(--primaryBackground);
    font-family: "Agency FB", Arial, sans-serif;
    font-weight: bold;
    height: 70vh;
    width: 98vw;
    padding-top: 30vh;
}
h1{
    color: var(--borderColor);
    text-align: center;
    font-size: calc(var(--blockHeight)*3/4);
    margin: 0 auto;
}
ul{
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    line-height: var(--blockHeight);
}
li{
    width: 50vw;
    height: var(--blockHeight);
    margin-top: 10vh;
}
button{
    width: var(--blockWidth);
    margin-bottom:10vh;
    margin-top: 5vh;
}
.centerText{
    text-align: center;
}
.invalid{
    background-color: var(--errorColor);
}
.colored{
    background-color: var(--secondaryBackground);
    border: 1vw var(--borderColor) solid;
    text-align: center;
    font-size: calc(var(--blockHeight)/2);
    font-family: "Agency FB", Arial, sans-serif;
}
.square{
    width: var(--blockWidth);
    height: var(--blockHeight);
    display: inline-block;
    margin: 1vw;
    padding: 0 10px;
}
.flex-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc((var(--blockWidth)*2) + 8vw + 40px);
    height: 100%;
    line-height:var(--blockHeight);
    margin: auto;
}
.colored:hover{
    border: 1vw var(--hoverColor);
    border-style: double ridge;
}
.twitchStream{
    padding: 1vh;
    line-height: 5vh;
    border: 1vw double;
}
.twitchStream img{
    position: absolute;
    height: 5vh;
    width: 5vh;
    padding-left: 1vw;
}
#twitch{
    position: fixed;
    left: 0;
    top: 0;
    background-color: mediumpurple;
    height: 80vh;
    width: 30vw;
    resize: both;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-base-color: black;
}